{% extends 'dashboard/dashboard_base.html' %}
{% load crispy_forms_tags %}


{% block dashboard_content %}
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h4>Change Branch</h4>
            </div>
            <div class="card_body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success btn-block">Change Branch</button>
                </form>
            </div>
        </div>
    </div>
{% endblock dashboard_content %}
    